body, html {
    margin: 0;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
    background: black;
}

#board {
    background: white;
    margin: 2vh 2vw 2vh 1vw;
    height: 96vh;
    width: 78vw;
    border-radius: 10px;
}

#tools {
    background: gray;
    margin: 2vh 1vw 2vh 2vw;
    width: 18vw;
    height: 96vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#tools > * {
    height: auto;
    min-height: 28px;
    width: 100%;
}

#canvas {
    height: 100%;
    width: 100%;
}